# 코딩도장 코드 따라하기

## 1. P12.2

In [34]:
a = input().split()
b = map(float, input().split())

answer = dict(zip(a,b))
print(answer)

health health_regen mana mana_regen
575.6 1.7 338.8 1.63
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

In [ ]:
health health_regen mana mana_regen
575.6 1.7 338.8 1.63

In [16]:
a

['health', 'health_regen', 'mana', 'mana_regen']

In [17]:
type(a)

list

In [18]:
b

['575.6', '1.7', '338.8', '1.63']

In [19]:
type(b)

list

In [29]:
f=dict()
f[1]=dict(a[1]=b[1])

SyntaxError: keyword can't be an expression (<ipython-input-29-95401800762c>, line 2)

In [31]:
f=dict(zip(a,b))

In [32]:
f

{'health': '575.6',
 'health_regen': '1.7',
 'mana': '338.8',
 'mana_regen': '1.63'}

## 2. P13 조건문if 사용하기

In [35]:
x =10

In [36]:
if x==10:
    print('10입니다.')

10입니다.

In [42]:
x= int(input())

if x==10:
    print('10입니다.')
if x==20:
    print('20입니다.')

10
10입니다.

In [44]:
## 13.6 연습문제: if조건문 사용하기 .

x = int(input())
y = input()

if y=='Cash3000':
    discount=int(-3000)
    print(x + discount)
if y=='Cash5000':
    discount=int(-5000)
    print(x + discount)

72000
Cash5000
67000

In [46]:
## 13.6 연습문제: if조건문 사용하기2

x = int(input())
y = input()

if y=='Cash3000':
    discount=int(-3000)
if y=='Cash5000':
    discount=int(-5000)
print(x + discount)

72000
Cash5000
67000

In [52]:
## 14.6 연습문제: 합격여부 판단하기

국어, 영어, 수학, 과학 = map(int, input().split())

if 0<=국어<=100 and 0<=영어<=100 and 0<=수학<=100 and 0<=과학<=100 :
    if (국어+영어+수학+과학)/4 >=80:
        print('합격')
    else :
        print('불합격')
else :
    print('잘못된 점수')

89 72 93 82
합격

In [58]:
## 15.3 연습문제: if, elif, else 모두 사용하기

age = int(input())
balance = 9000

if 7 <= age <=12 :
    balance -=650
elif 13 <= age <=18 :
    balance -=1050
elif age>18 :
    balance -=1250
else:
    balance= balance
print(balance)

0
9000

In [71]:
## 16.5 연습문제: 리스트의 요소에 10을 곱해서 출력하기

n = int(input())

for i in range(1,10):
    print(str(n) +" * " + str(i) +" = " + str(n*i))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [74]:
## 16.5 연습문제: 리스트의 요소에 10을 곱해서 출력하기2

n = int(input())

for i in range(1,10):
    print(n,'*',i,'=',n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

## 17. 반복횟수가 정해지지 않은 경우

In [1]:
import random

In [2]:
random.random()

0.16776093983882412

In [7]:
random.randint(1,8)

4

In [14]:
## 17.5 연습문제: 변수 두개를 다르게 반복하기.

x = int(input())
i=0

while x >= 1350:
    x -= 1350
    i +=1
    print(x)

10000
8650
7300
5950
4600
3250
1900
550

In [30]:
# 18.5 연습문제: 3으로 끝나는 숫자만 출력하기

start, stop = map(int, input().split())

i = start

while True:
    if i % 10 == 3:
        i += 1
        continue
    
    if i > stop:
        break 

    print(i, end=' ')
    i += 1

3 20
4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20

In [24]:
i = 0
while True:
    if i % 10 !=3:
        i += 1
        continue
    if i >73 :
        break
    print(i, end=' ')
    i +=1

3 13 23 33 43 53 63 73

## 19 중첩루프 사용하기

In [32]:
for i in range(5):
    for j in range(5):
        print('j:', j, sep='', end='')
    print('i:', i, '\\n', sep='')

j:0j:1j:2j:3j:4i:0\n
j:0j:1j:2j:3j:4i:1\n
j:0j:1j:2j:3j:4i:2\n
j:0j:1j:2j:3j:4i:3\n
j:0j:1j:2j:3j:4i:4\n

In [33]:
for i in range(5):
    for j in range(5):
        print('*', end=' ')
        
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [35]:
for i in range(3):
    for j in range(7):
        print('*', end=' ')
        
    print()

* * * * * * *
* * * * * * *
* * * * * * *

In [37]:
# 계단식으로 출력
for i in range(5):
    for j in range(i+1):
        print('*', end=' ')
        
    print()

*
* *
* * *
* * * *
* * * * *

In [39]:
# 한줄로 별 출력
for i in range(5):
    for j in range(5):
        if j == i:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
 *
  *
   *
    *

In [41]:
# 19.5 연습문제: 역삼각형 모양으로 별 출력하기

for i in range(5):
    for j in range(5):
        if j<i:
            print(' ', end='')
        else:
            print('*', end='')
        
    print()

*****
 ****
  ***
   **
    *

In [131]:
# 19.6 연습문제: 산모양으로 별 출력하기
n = int(input())

for i in range(n):
    for j in range(2*n):
        if (n-1) - i<= j <= (n-1) + i:
            print('*', end='')
        else:
            print(' ', end='')
    print()

2
 *
***

## 20 FizzBuzz 문제

In [117]:
# 3의 배수 Fizz, 5의 배수 Buzz, 3과 5의 배수 FizzBuzz

for i in range(1, 101):
    if i % 3 == 0 and i % 5 ==0:
        print('FizzBuzz')
    elif i % 3 ==0:
        print('Fizz')
    elif i % 5 == 0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [118]:
## 코드 단축하기

for i in range(1,101):
    print('Fizz'*(i % 3 ==0)+ 'Buzz'*(i % 5 ==0) or i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [132]:
## 20.8 연습문제: 5와 7의 배수, 공배수 처리하기

a, b = map(int, input().split())

if a in range(1, 1001) and b in range(10, 1001):
    for i in range(a,b+1):
        print('Fizz'*(i % 5 ==0) + 'Buzz'*(i % 7 ==0) or i)

35 40
FizzBuzz
36
37
38
39
Fizz

# P20. 터틀 그래픽스로 그림그리기

In [2]:
import turtle as t
t.shape('turtle')

In [3]:
t.forward(100)

In [4]:
t.right(90)

In [5]:
t.forward(100)

In [6]:
t.right(90)
t.forward(100)
t.right(90)
t.forward(100)

In [14]:
# 축약한걸로 코드 쓰기
import turtle as t
t.shape('turtle')

# 22. 1 리스트 조작하기

In [15]:
a = [10, 20, 30]

In [16]:
a

[10, 20, 30]

In [17]:
a.append(500)

In [18]:
a

[10, 20, 30, 500]

In [20]:
len(a)

4

In [21]:
## extend 
a = [10, 20, 30]
a.extend([500,600])
a

[10, 20, 30, 500, 600]

In [22]:
len(a)

5

In [23]:
# insert 위치를 지정할수 있음
a = [10, 20, 30]
a.insert(2, 500)
a

[10, 20, 500, 30]

In [24]:
a = [10, 20, 30]
a[1:1]=[500, 600]
a

[10, 500, 600, 20, 30]

In [27]:
# 리스트에서 특정요소 삭제
a = [10, 20, 30]
a.pop()
a

[10, 20]

In [28]:
a = [10, 20, 30]
a.pop(1)
a

[10, 30]

In [29]:
a = [10, 20, 30]
del a[1]
a

[10, 30]

In [30]:
a = [10, 20, 30]
a.remove(30)
a

[10, 20]

In [31]:
a = [10, 20, 30, 20] #20이 여러개일 경우 앞에있는 것부터 지움.
a.remove(20)
a

[10, 30, 20]

In [34]:
# 특정위치의 값을 찾는법

a=[10, 20, 30, 40, 50]
a.index(30)

2

In [35]:
a=[10, 20, 30, 20, 40, 50]
a.count(20)

2

In [36]:
a=[10, 20, 30, 20, 40, 50]
a.reverse()
a

[50, 40, 20, 30, 20, 10]

In [37]:
a=[10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [39]:
# 내림차순
a=[10, 20, 30, 15, 20, 40]
a.sort(reverse = True)
a

[40, 30, 20, 20, 15, 10]

In [40]:
a=[10, 20, 30]
a.clear()
a

[]

In [42]:
a=[10, 20, 30]
del a[:]
a

[]

In [43]:
a=[10, 20, 30]
a[len(a):]=[500, 600]
a

[10, 20, 30, 500, 600]

# 22.2 리스트의 할당과 복사

In [44]:
a=[0,0,0,0]
b=a

In [45]:
a

[0, 0, 0, 0]

In [46]:
b

[0, 0, 0, 0]

In [47]:
a is b

True

In [49]:
b[2] = 99
a  #b를 변경했는 데 a가 바뀜!!!

[0, 0, 99, 0]

In [50]:
b

[0, 0, 99, 0]

In [51]:
# 복사해서 b와 a를 별도로 만들기
a = [0,0,0,0]
b = a.copy()

In [52]:
a is b

False

In [53]:
a == b

True

In [54]:
b[3] = 99
b

[0, 0, 0, 99]

In [55]:
a

[0, 0, 0, 0]

# 22.3 반복문으로 리스트의 요소 모두 출력하기

In [57]:
for i in [31, 22, 53, 19]:
    print(i)

31
22
53
19

In [58]:
a = [38, 21, 53, 62, 19]

In [60]:
for index, value in enumerate(a):
    print(index+1, value)

1 38
2 21
3 53
4 62
5 19

In [61]:
for index, value in enumerate(a, start=1):
    print(index, value)

1 38
2 21
3 53
4 62
5 19

In [62]:
for index, value in enumerate(a, 1):
    print(index, value)

1 38
2 21
3 53
4 62
5 19

In [64]:
i = 0
while i < len(a):
    print(i, a[i])
    i += 1

0 38
1 21
2 53
3 62
4 19

# 22.4 리스트의 가장 작은수, 가장큰수 합계구하기

In [65]:
smallest = a[0]
for i in a:
    if i< smallest:
        smallest = i
smallest

19

In [66]:
largest = a[0]

for i in a:
    if i>largest:
        largest=i

In [67]:
largest

62

In [69]:
# 더 위운방법으로 코드 짜기
a = [38, 21, 53, 62, 19]

a.sort()
a[0]

19

In [70]:
a.sort(reverse = True)
a[0]

62

In [71]:
min(a)

19

In [72]:
max(a)

62

In [73]:
x = 0
for i in a:
    x += i

x

193

In [74]:
sum(a)

193

# 22.5 리스트 표현식 사용하기

In [76]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
b = list(i for i in range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
c = [i+5 for i in range(10)]
c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [79]:
d = list(i*2 for i in range(10))
d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [80]:
a = [i for i in range(10) if i%2==0]
a

[0, 2, 4, 6, 8]

In [82]:
b = list(i+5 for i in range(10) if i%2==1)
b

[6, 8, 10, 12, 14]

In [83]:
a = [i * j for j in range(2,10) 
           for i in range(1,10)]
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

# 22.6 리스트에 map 사용하기

In [84]:
a =[1.2, 2.5, 3.7, 4.6]

In [85]:
for i in range(len(a)):
    a[i] = int(a[i])
    
a

[1, 2, 3, 4]

In [86]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [87]:
a = list(map(str, range(10)))
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [88]:
a = input().split()

10 20

In [89]:
a

['10', '20']

In [90]:
a = map(int, input().split())

10 20

In [91]:
a

In [92]:
list(a)

[10, 20]

# 22.7 튜플 응용하기

In [94]:
a = (38, 21, 53, 62, 19, 53)
a.count(53)

2

In [95]:
a.index(53)

2

In [96]:
for i in a:
    print(i, end=' ')

38 21 53 62 19 53

In [97]:
a = tuple(i for i in range(10) if i%2==0)
a

(0, 2, 4, 6, 8)

# 22.9 연습문제

In [98]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']

In [99]:
b = [i for i in a if len(i)==5]
b

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [102]:
a, b = map(int, input().split())

x =[2**i for i in range(a, b+1)]
x

1 10

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [107]:
a, b = map(int, input().split())
x =[2**i for i in range(a, b+1)]
x.pop(1)
x.pop(-2)
print(x)

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]